PATH={{ capx_validation_nodejs_dir }}:{{ ansible_env.PATH }}
PORT={{ symbiotic.capx_validation.ports.listen_port }}

## Need to check with the team
# PINATA_API_KEY=
# PINATA_SECRET_API_KEY=
# IPFS_HOST=
