PATH={{ capx_node_nodejs_dir }}:{{ capx_node_node_modules_dir }}:{{ ansible_env.PATH }}

##########################################################################################
# Fill in your attestor's private key, and the RPC endpoints
##########################################################################################
# PRIVATE_KEY_ATTESTER=
# PRIVATE_KEY=
L1_RPC=https://ethereum-holesky-rpc.publicnode.com
L2_RPC=https://ethereum-holesky-rpc.publicnode.com

##########################################################################################
# OPTIONAL : Only Add this parameter if following Key Role separation. 
##########################################################################################
# OPERATOR_ADDRESS=0x314452C6F9Cbd580032a80Af95A48fB4E81b948c

##########################################################################################
# Leave the following as they are
##########################################################################################
OTHENTIC_REGISTRY_ADDRESS=0x41994741eD86Ec48e9578d0f64839E3F546466Fa
AVS_GOVERNANCE_ADDRESS=0x476Ceb36F6f250297Bb59d45f00bdB053445E9CB
ATTESTATION_CENTER_ADDRESS=0xd8caa8d58d6e3fB3CfD76D2ee7c982873c9Ce6e3
IPFS_HOST=https://gateway.pinata.cloud/ipfs/
OTHENTIC_BOOTSTRAP_ID=12D3KooWEaL5pGLey8qcEmapuAFZPNbgnDSULnSbbmbcTfbVLMTN
OTHENTIC_BOOTSTRAP_SEED=49c6b501ba41f40d4bdbbe35cb0aaa7d304850ab199cca97dc9f7f016d47a9fb
OTHENTIC_BOOTSTRAP_HOST=aggregator.services.capx.ai
L1_CHAIN=17000
L2_CHAIN=17000
L1_CHAIN_CLI_CODE=holesky
L2_CHAIN_CLI_CODE=holesky-l2
TASK_PERFORMER=0x0000000000000000000000000000000000000000
VALIDATION_SERVICE_IP=127.0.0.1
