CHAIN_ID="42161"
PROOF_MARKETPLACE_ADDRESS="0xE68A7457c0fd11CcBe96126Bf69B27a9064636a2"
GENERATOR_REGISTRY_ADDRESS="0xEcF45b1272D3B0ed2eB2A3c85b1E4bBa8a3611D6"
ENTITY_KEY_REGISTRY_ADDRESS="0x9C0Da9ac6B563A87CAf6F5b49f58f3C6D8D9BDef"
START_BLOCK="299397777"
MARKET_ID="1"
INDEXER_URL="https://indexer.kalypso.org"
MAX_PARALLEL_PROOFS="1"
IVS_URL="https://verification.ivs.nitro.kalypso.org"
PROVER_URL="http://localhost:3030/api/generateProof"
POLLING_INTERVAL=10000
GENERATOR_ADDRESS=0xa1742c9106099bedf143c08dfbbe4e2224a35a9d 
HTTP_RPC_URL={{ vault.mainnet.kalypso.arbitrum_rpc }}
RUST_BACKTRACE=1
